/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: 
    url("/fonts/PTSans.woff2") format("woff2"),
    url("/fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: 
    url("/fonts/PTSans-Bold.woff2") format("woff2"),
    url("/fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
    --basic_black: #000000;
    --text_brown: #333333;
    --light_brown: #766357;
    --basic_brown: #604E43;
    --dark_brown: #503E33;
    --light_blue: #81B3D2;
    --basic_blue: #669EC0;
    --dark_blue: #5496BD;
    --dark_gray: #666666;
    --basic_grey: #E5E5E5;
    --light_grey: #EEEEEE;
    --light_neutral: #f2f2f2;
    --basic_white: #FFFFFF;
    --shadow_grey: rgba(255, 255, 255, 0.3);
    --shadow_black: rgba(0, 0, 0, 0.3);
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text_brown);
    text-transform: uppercase;
    background-color: var(--basic_white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main_header {
  background-color: var(--basic_white);
}

.site_navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic_black);
  background-color: transparent;
}

.site_navigation {
  list-style: none;
}

/* User navigation */

.site_navigation a {
  color: var(--basic_black);
}

.site_navigation a:hover {
  color: var(--light_blue);
}

.site_navigation a:focus {
  color: var(--light_brown);
}

.site_navigation a:active {
  color: var(--shadow_black);
}

/* Welcome */

.background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
}

/* Reasons */

.reasons {
  text-align: center;
  line-height: 26px;
}

.reasons_arizona {
  font-size: 21px; 
  font-weight: bold;
  color: var(--basic_black);
}

/* Features */

.features ul {
  list-style: none;
}

.feature_item_photo {
  text-align: center;
}

.features_item_white {
  background-color: var(--light_blue);
  color: var(--basic_white);
  width: 400px;
  height: 256px;
  text-align: center;
}

.features_item_white h3{
  font-size: 21px; 
  font-weight: bold;
  line-height: 21px;
}

.features_item_pic {
  text-align: center;
}

.features_item_pic h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic_black);
}

.features_item {
  text-align: center;
  background-color: var(--light_grey);
}

.features_item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic_black);
}

/* Find hotel */

.find_hotel {
  background-color: var(--basic_white);
  color: var(--basic_black);
  line-height: 24px;
  text-align: center;
}

.find_hotel_quest {
  font-size: 30px;
  font-weight: bold;
}

.button_find_hotel {
  background: var(--light_brown);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic_white);
  text-align: center;
}

.button_find_hotel:hover {
  background-color: var(--basic_brown);
}

.button_find_hotel:active {
  background-color: var(--dark_brown);
  color: var(--shadow_grey);
}

/* Form */

.form {
  background-color: var(--basic_white);
}

.form_item {
  color: var(--basic_black);
  line-height: 26px;
  font-weight: bold;
}

.button_form {
  background-color: var(--light_blue);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic_white);
  text-align: center;
}

.button_form:hover {
  background-color: var(--basic_blue);
}

.button_form:active {
  background-color: var(--dark_blue);
  color: var(--shadow_grey);
}

.form_item input {
  background-color: var(--light_neutral);
  color: var(--basic_black);
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
}

/* Catalog Form  */

.catalog {
  background-image: url("../img/catalog/background.jpg");
  background-repeat: no-repeat;
  background-color: var(--light_blue);
}

.form_catalog {
  color: var(--basic_white)
}

.form_catalog ul {
  list-style: none;
}

.form_catalog legend {
  font-size: 16px;
  font-weight: bold;
}

.input_form_catalog {
  background-color: transparent;
  color: var(--basic_white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.button_form_catalog {
  background-color: transparent;
  color: var(--basic_white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.button_form_catalog:hover {
  background-color: var(--basic_white);
  color: var(--basic_black);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

/* Catalog Sorting */

.hotels_catalog {
  background-color: var(--basic_white);
}

.hotels_catalog ul {
  list-style: none;
}

.hotels_catalog_find {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic_black);
}

.hotels_catalog_sort {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic_black);
}

.sort {
  color: var(--shadow_black);
  text-decoration: underline 1px dashed var(--light_blue);
}

.sort:hover {
  color: var(--light_blue);
  text-decoration: underline 1px dashed var(--light_blue);
}

.sort_focus,
.sort:focus {
  color: var(--light_blue);
  text-decoration: none;
}

.sort:active {
  text-decoration: none;
  color: var(--basic_black);
}

.hotels_catalog h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic_black);
}

.hotels_catalog h3:hover {
  color: var(--light_blue);
}

.hotels_catalog h3:active {
  color: var(--shadow_black);
}

.button_detail {
  color: var(--basic_white);
  background-color: var(--light_blue);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.button_detail:hover {
  background-color: var(--basic_blue);
}

.button_detail:active {
  color: var(--shadow_grey);
  background-color: var(--dark_blue);
}

.button_reserv {
  color: var(--basic_white);
  background-color: var(--light_brown);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.button_reserv:hover {
  background-color: var(--basic_brown);
}

.button_reserv:active {
  color: var(--shadow_grey);
  background-color: var(--dark_brown);
}

.rating {
  color: var(--dark_gray);
  background-color: var(--light_neutral);
  text-align: center;
}

/* Footer */

.main-footer {
  background-color: var(--basic_white);
  opacity: 0.9;
}

.footer_contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic_black)
}

.footer_social {
  list-style: none;
}

.social_button {
  background-color: var(--light_blue);
}

.social_button:hover {
  background-color: var(--basic_blue);
}

.social_button:active {
  background-color: var(--dark_blue);
}

.footer_copyright {
  line-height: 26px;
}